# 전탐 ~ 전공 정리

In [1]:
import pdfplumber as pp
import pandas as pd

In [2]:
pdf = pp.open('24-1(0129).pdf')
pdf

In [3]:
frame_list = []

In [4]:
for page in range(12, 33): #사봉 제외한 나머지 교양 중 열변수가 같은 애들끼리 모으기
    tables = pdf.pages[page].extract_tables()
    table_len = len(tables)
    
    for table_n in range(table_len):
        table = tables
        data_frame = pd.DataFrame(table[table_n])
        frame_list.append(data_frame) #테이블 하나씩 frame에 담기

In [5]:
len(frame_list)

23

In [6]:
#첫테이블은 사봉이라서 제거
frame_list = frame_list[1:len(frame_list)]
len(frame_list)

22

In [7]:
# 열변수 지정 & 필요없는 열변수 제거
for n in range(len(frame_list)):
    frame = frame_list[n].rename(columns=frame_list[n].iloc[0]) #첫행을 컬럼(변수)로 지정
    frame = frame.iloc[2:] #3번째 행부터 데이터(값)으로 지정
    frame_list[n] = frame[['이수\n구분', '과목코드', '교과목명', '교수명', '강의실/시간']]

In [8]:
# 모든 테이블하나로 합치기
df = pd.concat(frame_list)
df

,이수\n구분,과목코드,교과목명,교수명,강의실/시간
2,전탐,VS00013,사회복지학개론,조남경,7309 / 화요일 / 15:00~16:15\n7309 / 목요일 / 15:00~1...
3,전탐,VS00016,우리 사는 경제 어디서 왔을까 1: \n시장경제의 기원과 변모,이상철,3402 / 화요일 / 13:30~14:45\n3402 / 목요일 / 13:30~1...
4,전탐,VS00019,전공탐색세미나(사회학),박경태,7205 / 금요일 / 12:00~12:50
5,전탐,VS00020,전공탐색세미나(경제학),유철규,7305 / 월요일 / 11:00~11:50
6,전탐,VS00021,전공탐색세미나(정치학),박은홍,7305 / 수요일 / 18:25~19:15
...,...,...,...,...,...
4,전선,XE00006,딥러닝프레임워크,미지정,6405 / 목요일 / 09:00~11:50
5,전선,XE00007,확률과랜덤변수,이상윤,6405 / 화요일 / 13:30~14:45\n6405 / 목요일 / 13:30~1...
6,전선,XE00013,Python프로그래밍,홍성준,B105 / 월요일 / 15:00~16:15\nB105 / 수요일 / 15:00~1...
7,전선,XE00014,인공지능캡스톤디자인,이상윤,6405 / 금요일 / 12:00~14:50
8,전선,XE00015,컴퓨터비전,미지정,6405 / 화요일 / 15:00~16:15\n6405 / 목요일 / 15:00~1...

In [9]:
# 엉킨 인덱스 정리
df.reset_index(drop=True, inplace=True)
df

,이수\n구분,과목코드,교과목명,교수명,강의실/시간
0,전탐,VS00013,사회복지학개론,조남경,7309 / 화요일 / 15:00~16:15\n7309 / 목요일 / 15:00~1...
1,전탐,VS00016,우리 사는 경제 어디서 왔을까 1: \n시장경제의 기원과 변모,이상철,3402 / 화요일 / 13:30~14:45\n3402 / 목요일 / 13:30~1...
2,전탐,VS00019,전공탐색세미나(사회학),박경태,7205 / 금요일 / 12:00~12:50
3,전탐,VS00020,전공탐색세미나(경제학),유철규,7305 / 월요일 / 11:00~11:50
4,전탐,VS00021,전공탐색세미나(정치학),박은홍,7305 / 수요일 / 18:25~19:15
...,...,...,...,...,...
193,전선,XE00006,딥러닝프레임워크,미지정,6405 / 목요일 / 09:00~11:50
194,전선,XE00007,확률과랜덤변수,이상윤,6405 / 화요일 / 13:30~14:45\n6405 / 목요일 / 13:30~1...
195,전선,XE00013,Python프로그래밍,홍성준,B105 / 월요일 / 15:00~16:15\nB105 / 수요일 / 15:00~1...
196,전선,XE00014,인공지능캡스톤디자인,이상윤,6405 / 금요일 / 12:00~14:50
197,전선,XE00015,컴퓨터비전,미지정,6405 / 화요일 / 15:00~16:15\n6405 / 목요일 / 15:00~1...

In [ ]:
df.to_csv('csv4.csv', index=False)