# extract_tables가 어떤 타입으로 테이블을 가져오는가 --> list로

In [2]:
import pandas as pd
import pdfplumber as pp

pdf = pp.open('24-1(0129).pdf')

p = pdf.pages[0].extract_tables()

type(p)

list

In [3]:
print(p)

[[['순\n번', '핵심역량', None, '영역', None, '이수\n구분', '개설\n학년', '과목코드', '분\n반', '교과목명', '학\n점', '교수명', '강의실/시간', '확인사항'], [None, '역량', '세부\n영역', '영역', '세부영역', None, None, None, None, None, None, None, None, None], ['1', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '01', '대학생활세미나 I', '1', '김혜인', '7304 / 금 / 10:00~11:50', '인문융합1반'], ['2', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '02', '대학생활세미나 I', '1', '양기호', '7307 / 금 / 10:00~11:50', '인문융합2반'], ['3', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '03', '대학생활세미나 I', '1', '윤영도', '7304 / 금 / 13:00~14:50', '인문융합3반'], ['4', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '04', '대학생활세미나 I', '1', '이주엽', '7307 / 금 / 13:00~14:50', '인문융합4반'], ['5', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '05', '대학생활세미나 I', '1', '조미혜', '7205 / 금 / 10:00~11:50', '사회융합1반'], ['6', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '06', '대학생활세미나 I', '1', '윤석준', '7206 / 금 / 10:00~11:50', '사회융합2반'], ['7', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '07', '대학생활세미나 I', '1', '이상철', '7205 / 금 / 13:00~14:50', '사회융합3반'], ['8', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '08', '대학생활세미나 I', '1', '남일성', '7206 / 금 / 13:00~14:50', '사회융합4반'], ['9', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '09', '대학생활세미나 I', '1', '김창남', '7301 / 금 / 10:00~11:50', '미디어융합1반'], ['10', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '10', '대학생활세미나 I', '1', '이원정', '6402 / 금 / 10:00~11:50', '미디어융합2반'], ['11', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '11', '대학생활세미나 I', '1', '김창남', '7301 / 금 / 13:00~14:50', '미디어융합3반'], ['12', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '12', '대학생활세미나 I', '1', '이원정', '6402 / 금 / 13:00~14:50', '미디어융합4반'], ['13', '대안\n역량', '대안\n제시·\n문제\n해결', '기초핵심\n교육', '과목지정\n필수', '교필', '1', 'AK00089', '13', '대학생활세미나 I', '1', '송재민', '7204 / 금 / 10:00~11:50', '경영1반']]]

# 특정 문자 포함 행 추출 : df.query('col.str.contains("문자")')

In [6]:
import pandas as pd

df = pd.DataFrame({
    '이름':['야옹이','멍멍이','참새'],
    '나이':['50','15','6']
})
df

    이름  나이
0  야옹이  50
1  멍멍이  15
2   참새   6

In [7]:
df.query('이름.str.contains("이")')

    이름  나이
0  야옹이  50
1  멍멍이  15