In [1]:
import pdfplumber as pp
import pandas as pd

In [2]:
pdf = pp.open("pdf0116.pdf")

# pdf의 필요한 테이블을 데이터프레임으로 저장

In [3]:
pages = [i for i in range(19,32+1)]
pages = pages + [36, 40, 44, 48, 54, 55, 60,
                64, 69, 74, 79, 80, 86, 87, 
                91, 94, 97, 101, 106, 110, 114,
                120, 121]
print(len(pages), pages)

37 [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 36, 40, 44, 48, 54, 55, 60, 64, 69, 74, 79, 80, 86, 87, 91, 94, 97, 101, 106, 110, 114, 120, 121]

In [4]:
turn = [[1,2], [1,2], [1], [1,2,3], [1,2], [1,2,3],[1,2],
       [1,2],[1,2],[1,2,3,4],[1,2],[1,2],[1,2,3],[1,2,3],
       [1],[1],[1],[1],[1],[1], [1],[1],[1],[1],[1],
       [1],[1],[1],[1],[2],[2], [1],[1],[1],[1],[2],[1]]

# import numpy as np
# test = np.array(turn) -> 왜 안될까
# test.size
cnt = 0
for i in range(len(turn)):
    for j in range(len(turn[i])):
        cnt+=1

print(len(turn), cnt, turn)

37 56 [[1, 2], [1, 2], [1], [1, 2, 3], [1, 2], [1, 2, 3], [1, 2], [1, 2], [1, 2], [1, 2, 3, 4], [1, 2], [1, 2], [1, 2, 3], [1, 2, 3], [1], [1], [1], [1], [1], [1], [1], [1], [1], [1], [1], [1], [1], [1], [1], [2], [2], [1], [1], [1], [1], [2], [1]]

In [5]:
tables= []
for i, p in enumerate(pages):
    # 해당 페이지에 존재하는 모든 테이블 추출
    page_tables = pdf.pages[p-1].extract_tables()
    #print(type(page_tables)) -> list
    for t in turn[i]:
        tables.append(pd.DataFrame(page_tables[t-1]))

In [6]:
len(tables)

56

# 데이터프레임 정리

### 필요한 컬럼만 남기기

In [7]:
tables[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,순번,이수\n구분,개설\n학년,과목코드,분반,교과목명,학점,교수명,학년\n제한,전공\n제한,강의실/시간,확인사항
1,1,교필,1,AC00007,01,인권과평화,2,조경희,Y,Y,7207/화/09:00~10:50,주제 : 식민주의/인종주의
2,2,교필,1,AC00007,02,인권과평화,2,조경희,Y,Y,7207/화/11:00~12:50,주제 : 식민주의/인종주의
3,3,교필,1,AC00007,03,인권과평화,2,이상윤,Y,Y,7208/화/09:00~10:50,주제 : 인공지능과 인간의 \n공존
4,4,교필,1,AC00007,04,인권과평화,2,오영숙,Y,Y,7208/화/11:00~12:50,주제 : 빈곤포르노
5,5,교필,1,AC00007,05,인권과평화,2,강성현,Y,Y,7309/화/09:00~10:50,주제 : 한국의 전쟁과 인권 \n평화
6,6,교필,1,AC00007,06,인권과평화,2,강성현,Y,Y,7309/화/11:00~12:50,주제 : 한국의 전쟁과 인권 \n평화

In [8]:
for i, table in enumerate(tables):
    tables[i].columns = table.iloc[0,:]
    tables[i] = table.iloc[1:, :]

In [9]:
tables[0]

,순번,이수\n구분,개설\n학년,과목코드,분반,교과목명,학점,교수명,학년\n제한,전공\n제한,강의실/시간,확인사항
1,1,교필,1,AC00007,01,인권과평화,2,조경희,Y,Y,7207/화/09:00~10:50,주제 : 식민주의/인종주의
2,2,교필,1,AC00007,02,인권과평화,2,조경희,Y,Y,7207/화/11:00~12:50,주제 : 식민주의/인종주의
3,3,교필,1,AC00007,03,인권과평화,2,이상윤,Y,Y,7208/화/09:00~10:50,주제 : 인공지능과 인간의 \n공존
4,4,교필,1,AC00007,04,인권과평화,2,오영숙,Y,Y,7208/화/11:00~12:50,주제 : 빈곤포르노
5,5,교필,1,AC00007,05,인권과평화,2,강성현,Y,Y,7309/화/09:00~10:50,주제 : 한국의 전쟁과 인권 \n평화
6,6,교필,1,AC00007,06,인권과평화,2,강성현,Y,Y,7309/화/11:00~12:50,주제 : 한국의 전쟁과 인권 \n평화

In [10]:
for i, table in enumerate(tables):
    # tables[i] = table.loc[:, [1,3,5,7,10,11]]
    tables[i] = table[['이수\n구분','과목코드','교과목명','교수명','강의실/시간','확인사항']]
    # tables[i] = table.loc[:, ['이수\n구분','과목코드','교과목명','교수명','강의실/시간','확인사항']]

In [11]:
tables[:5]

[0 이수\n구분     과목코드   교과목명  교수명              강의실/시간                  확인사항
 1     교필  AC00007  인권과평화  조경희  7207/화/09:00~10:50        주제 : 식민주의/인종주의
 2     교필  AC00007  인권과평화  조경희  7207/화/11:00~12:50        주제 : 식민주의/인종주의
 3     교필  AC00007  인권과평화  이상윤  7208/화/09:00~10:50   주제 : 인공지능과 인간의 \n공존
 4     교필  AC00007  인권과평화  오영숙  7208/화/11:00~12:50            주제 : 빈곤포르노
 5     교필  AC00007  인권과평화  강성현  7309/화/09:00~10:50  주제 : 한국의 전쟁과 인권 \n평화
 6     교필  AC00007  인권과평화  강성현  7309/화/11:00~12:50  주제 : 한국의 전쟁과 인권 \n평화,
 0 이수\n구분     과목코드 교과목명  교수명              강의실/시간 확인사항
 1     교필  AC00013  말과글  오현화  1504/수/09:00~10:50
 2     교필  AC00013  말과글  오현화  1504/수/11:00~12:50
 3     교필  AC00013  말과글  성아사  1505/수/09:00~10:50
 4     교필  AC00013  말과글  성아사  1505/수/11:00~12:50
 5     교필  AC00013  말과글  오현화  1504/목/09:00~10:50
 6     교필  AC00013  말과글  오현화  1504/목/11:00~12:50
 7     교필  AC00013  말과글  곽승숙  1505/목/09:00~10:50
 8     교필  AC00013  말과글  곽승숙  1505/목/11:00~12:50     ,
 0 이수\n구분     과목코드       교과목명        교수명              강의실/시간 확인사항
 1     교필  AC00016  과학기술과에콜로지        김병수  7309/금/10:00~11:50
 2     교필  AC00016  과학기술과에콜로지        김병수  7309/금/13:00~14:50
 3     교필  AC00016  과학기술과에콜로지  *김명철\n신익상  3402/금/10:00~11:50
 4     교필  AC00016  과학기술과에콜로지  *김명철\n신익상  3402/금/13:00~14:50
 5     교필  AC00016  과학기술과에콜로지  *신익상\n김명철  3502/금/10:00~11:50
 6     교필  AC00016  과학기술과에콜로지  *신익상\n김명철  3502/금/13:00~14:50     ,
 0 이수\n구분     과목코드      교과목명  교수명              강의실/시간 확인사항
 1     교필  AC00015  데이터활용및분석  윤명호  M401/금/10:00~11:50
 2     교필  AC00015  데이터활용및분석  윤명호  M401/금/13:00~14:50
 3     교필  AC00015  데이터활용및분석  이해신  3302/금/10:00~11:50
 4     교필  AC00015  데이터활용및분석  이해신  3302/금/13:00~14:50
 5     교필  AC00015  데이터활용및분석  김덕봉  B105/금/10:00~11:50
 6     교필  AC00015  데이터활용및분석  유상신  B105/금/13:00~14:50     ,
 0  이수\n구분     과목코드       교과목명  교수명              강의실/시간       확인사항
 1      교필  AK00089  대학생활세미나 I  김혜인  7304/금/10:00~11:50     인문융합1반
 2      교필  AK00089  대학생활세미나 I  미지정  7307/금/10:00~11:50     인문융합2반
 3      교필  AK00089  대학생활세미나 I  장영석  7304/금/13:00~14:50     인문융합3반
 4      교필  AK00089  대학생활세미나 I  미지정  7307/금/13:00~14:50     인문융합4반
 5      교필  AK00089  대학생활세미나 I  미지정  7302/금/10:00~11:50     사회융합1반
 6      교필  AK00089  대학생활세미나 I  윤석준  7303/금/10:00~11:50     사회융합2반
 7      교필  AK00089  대학생활세미나 I  유철규  7302/금/13:00~14:50     사회융합3반
 8      교필  AK00089  대학생활세미나 I  미지정  7303/금/13:00~14:50     사회융합4반
 9      교필  AK00089  대학생활세미나 I  김서중  7301/금/10:00~11:50    미디어융합1반
 10     교필  AK00089  대학생활세미나 I  이원정  6402/금/10:00~11:50    미디어융합2반
 11     교필  AK00089  대학생활세미나 I  김서중  7301/금/13:00~14:50    미디어융합3반
 12     교필  AK00089  대학생활세미나 I  이원정  6402/금/13:00~14:50    미디어융합4반
 13     교필  AK00089  대학생활세미나 I  송재민  7305/금/10:00~11:50       경영1반
 14     교필  AK00089  대학생활세미나 I  송재민  7305/금/13:00~14:50       경영2반
 15     교필  AK00089  대학생활세미나 I  곽승우  7306/금/10:00~11:50     미래융합1반
 16     교필  AK00089  대학생활세미나 I  미지정  7306/금/13:00~14:50     미래융합2반
 17     교필  AK00089  대학생활세미나 I  박정식  6404/금/10:00~11:50  소프트웨어융합1반]

### column 헤더 추출

In [12]:
# 
header = ['kind','code','classname','prof','roomntime','check']

### 테이블 하나로 합치기

In [13]:
#
tablecopy = tables.copy()
df = tablecopy[0]
for t in tablecopy[1:]:
    df = pd.concat([df, t], axis=0)
df[:10]

0 이수\n구분     과목코드   교과목명  교수명              강의실/시간                  확인사항
1     교필  AC00007  인권과평화  조경희  7207/화/09:00~10:50        주제 : 식민주의/인종주의
2     교필  AC00007  인권과평화  조경희  7207/화/11:00~12:50        주제 : 식민주의/인종주의
3     교필  AC00007  인권과평화  이상윤  7208/화/09:00~10:50   주제 : 인공지능과 인간의 \n공존
4     교필  AC00007  인권과평화  오영숙  7208/화/11:00~12:50            주제 : 빈곤포르노
5     교필  AC00007  인권과평화  강성현  7309/화/09:00~10:50  주제 : 한국의 전쟁과 인권 \n평화
6     교필  AC00007  인권과평화  강성현  7309/화/11:00~12:50  주제 : 한국의 전쟁과 인권 \n평화
1     교필  AC00013    말과글  오현화  1504/수/09:00~10:50
2     교필  AC00013    말과글  오현화  1504/수/11:00~12:50
3     교필  AC00013    말과글  성아사  1505/수/09:00~10:50
4     교필  AC00013    말과글  성아사  1505/수/11:00~12:50

### 헤더 설정

In [14]:
df.columns = header

### 확인사항 반영(인평, 대생세)

In [15]:
# 인덱스 초기화
df.reset_index(inplace=True)

In [16]:
df1 = df.copy()
subjects = ['인권과평화', '대학생활세미나 I']

for index, row in df1.iterrows():
    if (row.classname in subjects):
        df1.loc[index, 'classname'] = row.classname + '(' + row.check + ')'

In [17]:
#check 열 삭제 
df1 = df1.drop('check', axis=1)

In [18]:
# df1.sample(10)

In [19]:
df = df1.copy()

In [20]:
# 공백제거
df["classname"] = df["classname"].str.replace(" ", "")
df["classname"] = df["classname"].str.replace("\n", "")
df["roomntime"] = df["roomntime"].str.replace(" ", "")

### roomntime 컬럼 분리
1. 주2회 수업 분리 -> 주1회 수업은 rnt2에 NaN
2. 강의실/요일/시간 분리 -> room1, room2, date1, date2, start, end

In [21]:
df1 = df.copy()

#### 1번 분리

In [22]:

df1['roomntime2'] = df1.roomntime.str.split('\n').str[1]
df1['roomntime'] = df1.roomntime.str.split('\n').str[0]

In [23]:
df1.head()

,index,kind,code,classname,prof,roomntime,roomntime2
0,1,교필,AC00007,인권과평화(주제:식민주의/인종주의),조경희,7207/화/09:00~10:50,NaN
1,2,교필,AC00007,인권과평화(주제:식민주의/인종주의),조경희,7207/화/11:00~12:50,NaN
2,3,교필,AC00007,인권과평화(주제:인공지능과인간의공존),이상윤,7208/화/09:00~10:50,NaN
3,4,교필,AC00007,인권과평화(주제:빈곤포르노),오영숙,7208/화/11:00~12:50,NaN
4,5,교필,AC00007,인권과평화(주제:한국의전쟁과인권평화),강성현,7309/화/09:00~10:50,NaN

주2회 수업중 각 수업의 시간과 강의실이 같은지 확인

In [24]:
# rnt2가 nan인 데이터 제외 추출
deleteNan = df1.dropna(axis=0, how='any', subset=['roomntime2'], inplace=False).copy()

In [25]:
deleteNan.head()

,index,kind,code,classname,prof,roomntime,roomntime2
107,1,교선,AD00003,기초일본어,요코야마\n나호코,7206/월/13:30~14:45,7206/수/13:30~14:45
108,2,교선,AD00004,실용일본어,요코야마\n나호코,7206/화/15:00~16:15,7206/목/15:00~16:15
110,4,교선,AD00011,교양중국어초급,장엽,1504/화/15:00~16:15,3501/목/15:00~16:15
113,7,교선,AE00012,아시아사회와문화,박은홍,7206/화/16:30~17:45,7206/목/16:30~17:45
153,2,전탐,BH00002,일본의이해,미지정,7309/월/13:30~14:45,7309/수/13:30~14:45

In [26]:
# room 또는 time이 일치하지 않으면 false 저장
deleteNan['testRoom'] = \
(deleteNan.roomntime.str.split('/').str[0]) \
!= (deleteNan.roomntime2.str.split('/').str[0])

deleteNan['testTime'] = \
(deleteNan.roomntime.str.split('/').str[2]) \
!= (deleteNan.roomntime2.str.split('/').str[2])

In [27]:
deleteNan.head()

,index,kind,code,classname,prof,roomntime,roomntime2,testRoom,testTime
107,1,교선,AD00003,기초일본어,요코야마\n나호코,7206/월/13:30~14:45,7206/수/13:30~14:45,False,False
108,2,교선,AD00004,실용일본어,요코야마\n나호코,7206/화/15:00~16:15,7206/목/15:00~16:15,False,False
110,4,교선,AD00011,교양중국어초급,장엽,1504/화/15:00~16:15,3501/목/15:00~16:15,True,False
113,7,교선,AE00012,아시아사회와문화,박은홍,7206/화/16:30~17:45,7206/목/16:30~17:45,False,False
153,2,전탐,BH00002,일본의이해,미지정,7309/월/13:30~14:45,7309/수/13:30~14:45,False,False

In [28]:
# true인 행 추출(==room또는 time이 다른것 추출)
deleteNan[deleteNan['testRoom']==True]

,index,kind,code,classname,prof,roomntime,roomntime2,testRoom,testTime
110,4,교선,AD00011,교양중국어초급,장엽,1504/화/15:00~16:15,3501/목/15:00~16:15,True,False

In [29]:
deleteNan[deleteNan['testTime']==True]

Empty DataFrame
Columns: [index, kind, code, classname, prof, roomntime, roomntime2, testRoom, testTime]
Index: []

In [30]:
#언제부터 index가 다시 생긴거니?

#### 2번 분리

In [31]:
df1['room1'] = df1.roomntime.str.split('/').str[0] 
df1['room2'] = df1.roomntime2.str.split('/').str[0] 
df1['date1'] = df1.roomntime.str.split('/').str[1] 
df1['date2'] = df1.roomntime2.str.split('/').str[1] 
df1['start'] = df1.roomntime.str.split('/').str[2].str.split('~').str[0]

df1['end'] = df1.roomntime.str.split('/').str[2].str.split('~').str[1]

In [32]:
# df1.sample(10)

In [33]:
df1.drop(['roomntime', 'roomntime2'], axis=1, inplace=True) #필요없는 열 삭제

In [34]:
# df1.sample(5)

### 예외처리
room1, start, end가 미지정인 경우 처리

In [35]:
# start end 없는 강의 삭제 
import numpy as np
df1[df1.start.isna() | df1.end.isna()]
# df1[df1['start'] == np.nan | df1['end'] == np.nan].any()

     index kind     code classname prof room1 room2 date1 date2 start  end
125      1   교선  AE00029    사회봉사II  김연아         NaN   NaN   NaN   NaN  NaN
303     12   전선  DD00026     인턴십II  이원정         NaN   NaN   NaN   NaN  NaN
306     15   전선  DD00031      인턴십I  이원정         NaN   NaN   NaN   NaN  NaN

In [36]:
df1.dropna(subset=['start'], how='any', axis=0, inplace=True)
len(df1)

398

In [37]:
df1[df1.room1.isna()]

Empty DataFrame
Columns: [index, kind, code, classname, prof, room1, room2, date1, date2, start, end]
Index: []

In [38]:
df1[df1['room1'] == '9999']

Empty DataFrame
Columns: [index, kind, code, classname, prof, room1, room2, date1, date2, start, end]
Index: []

In [39]:
df1[df1['room1'] =='0000']

     index kind     code classname prof room1 room2 date1 date2  start    end
216      9   전선  SW00023  사회복지현장실습  서진환  0000   NaN     토   NaN  09:00  11:50

In [40]:
df1 = df1.drop(index=216)

In [41]:
# df1[210:220]

In [42]:
df1[df1['room1'] =='미지정']

Empty DataFrame
Columns: [index, kind, code, classname, prof, room1, room2, date1, date2, start, end]
Index: []

In [43]:
df1[df1['room1'] =='']

Empty DataFrame
Columns: [index, kind, code, classname, prof, room1, room2, date1, date2, start, end]
Index: []

In [44]:
df1[df1['date1'] =='']

Empty DataFrame
Columns: [index, kind, code, classname, prof, room1, room2, date1, date2, start, end]
Index: []

이정도 햇으면 됏지...

시간이 콜론으로 작성되지 않은 것 찾기

In [45]:
len(df1)

397

In [46]:
len(df1[df1['start'].str.contains(":") & df1['end'].str.contains(":")])

397

### 중복 강의 제거

In [47]:
dfcopy = df1.copy()

In [48]:
dfcopy['dup'] = df1.duplicated(subset=['code','room1','date1','start'], keep='last')

In [49]:
dfcopy[dfcopy['dup']==True]

,index,kind,code,classname,prof,room1,room2,date1,date2,start,end,dup
172,2,전선,HR00010,공감,* 신익상\n 박경태\n 박남기,M407,NaN,화,NaN,15:00,17:50,True
177,7,전선,SP00020,신학과정치학의만남,*박은홍\n박태식,7204,NaN,목,NaN,12:00,14:50,True
277,6,전선,DJ00026,미디어산업과경영,조은기,7309,NaN,수,NaN,09:00,11:50,True
280,9,전선,DJ00032,소셜미디어이론과활용,이진순,7202,NaN,목,NaN,12:00,14:50,True
281,10,전선,DJ00033,만화와애니메이션,백정숙,3402,NaN,화,NaN,15:00,17:50,True
282,11,전선,DJ00034,축제와이벤트,양재영,7208,NaN,목,NaN,15:00,17:50,True
285,14,전선,DJ00037,영화론,김아영,7309,NaN,수,NaN,15:00,17:50,True
301,10,전선,DD00020,비주얼스토리텔링,김서윤,3401,NaN,월,NaN,12:00,14:50,True
308,17,전선,DD00036,영상콘텐츠와서사,미지정,M301,NaN,금,NaN,12:00,14:50,True
311,2,전선,DD00043,아이디어와엔터테인먼트콘텐츠,곽미서,M301,NaN,수,NaN,09:00,11:50,True
343,3,전필,XA00021,운영체제,김덕봉,6406,6406,화,목,13:30,14:45,True
344,4,전선,XA00027,머신러닝,김학수,6201,6201,월,수,15:00,16:15,True
345,5,전선,XA00030,졸업지도1,김학수,6109,NaN,수,NaN,18:25,19:15,True
346,6,전필,XA00034,컴퓨터공학캡스톤디자인,김학수,6109,NaN,월,NaN,09:00,11:50,True
363,15,전선,XC00015,모바일프로그래밍,이종현,6406,NaN,금,NaN,09:00,11:50,True
364,16,전선,XC00018,보안시스템,이종현,6406,NaN,금,NaN,12:00,14:50,True
365,17,전필,XA00021,운영체제,김덕봉,6406,6406,화,목,13:30,14:45,True
366,18,전선,IS00004,데이터베이스,홍은지,6206,NaN,월,NaN,09:00,11:50,True

In [50]:
# df1[df1['classname']=='공감']

In [51]:
dfcopy.drop_duplicates(subset=['code','room1','date1','start'], keep='first', inplace=True, ignore_index=True)

In [52]:
# dfcopy[dfcopy['classname']=='공감']

In [53]:
df1 = dfcopy.copy()

In [54]:
df1.reset_index(drop=True, inplace=True)

In [58]:
df1 = df1.iloc[:, 1:11]

In [59]:
final_df = df1.copy()