In [1]:
import pandas as pd

# concat() 데이터프레임 3개 이상 가능한지 테스트 -> 가능함

In [4]:
df = pd.DataFrame([['sujeen',3,50],['sujin',1,95],['jinsu',2,88]])

df

        0  1   2
0  sujeen  3  50
1   sujin  1  95
2   jinsu  2  88

In [5]:
df2 = pd.DataFrame([['susan',4,20],['sujan',5,14],['ssin',6,8]])

df2

       0  1   2
0  susan  4  20
1  sujan  5  14
2   ssin  6   8

In [6]:
df3 = pd.DataFrame([['ssu',5,50],['ssin',1,95],['na',2,88]])

df3

      0  1   2
0   ssu  5  50
1  ssin  1  95
2    na  2  88

In [7]:
sdf = pd.concat([df,df2,df3])

In [8]:
sdf

        0  1   2
0  sujeen  3  50
1   sujin  1  95
2   jinsu  2  88
0   susan  4  20
1   sujan  5  14
2    ssin  6   8
0     ssu  5  50
1    ssin  1  95
2      na  2  88

# drop() 열 지정해줬을때 axis=0인 상태에서도 가능한지 -> axis=1 해줘야 가능

In [9]:
url = 'kwan.csv'

ori_df = pd.read_csv(url)
ori_df

  kwan_num     kwan_name
0       10          구두인관
1       5C           나눔관
2        M          미가엘관
3        7          새천년관
4        9  성미가엘성당&피츠버그홀
5        1           승연관
6        3           월당관
7        B           일만관
8        6         정보과학관
9        8         중앙도서관

In [11]:
type(ori_df)

pandas.core.frame.DataFrame

In [12]:
df = ori_df.copy()

df = df.drop(['kwan_num'], axis=0) #=> axis=0으로 하니까 찾지 못함
df

KeyError: "['kwan_num'] not found in axis"

In [13]:
df = ori_df.copy()

df = df.drop(['kwan_num']) #default가 axis=0임
df

KeyError: "['kwan_num'] not found in axis"

In [14]:
df = ori_df.copy()

df = df.drop(['kwan_num'], axis=1)
df

      kwan_name
0          구두인관
1           나눔관
2          미가엘관
3          새천년관
4  성미가엘성당&피츠버그홀
5           승연관
6           월당관
7           일만관
8         정보과학관
9         중앙도서관